<!-- component -->
<!-- This is an example component -->
<div class="max-w-2xl mx-auto">

	<div class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between items-center mb-4">
        <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Chats</h3>

   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="assets/profil.png">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Administration
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            yassin.khazeri@supemir.com
                        </p>
                    </div>

                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="assets/profil.png" alt="Bonnie image">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                          Administration
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          Bentahar.youness@supemir.com
                        </p>
                    </div>

                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="assets/profil.png" alt="Michael image">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Scolarité
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            amine.shaita@supemir.com
                        </p>
                    </div>

                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="assets/logof.png" alt="Lana image">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                          Scolatité
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            amina@supemir.com
                        </p>
                    </div>

                </div>
            </li>
            <li class="pt-3 pb-0 sm:pt-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="assets/profil.png" alt="Thomas image">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Chef de partement
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            faycal.zinedine@supemir.com
                        </p>
                    </div>

                </div>
            </li>
        </ul>
   </div>
</div>
</div>
