<div class=" pb-6 h-screen  w-full">
   
    <div class=" border-t-4 border-orange-500 bg-white  ">
        <h3 class="text-xl pt-2 ml-4">Horraires des cours</h3>
        <table class=" w-full text-sm text-left text-gray-500 shadow-md  dark:text-gray-400 ">
            <thead class=" mb-4  text-xs text-gray-900 uppercase dark:text-gray-400 px-6 ">
                <tr>
                    <th scope="col" class="py-3 px-6 ">
                        Lundi
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Mardi
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Mercredi
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Jeudi
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Samedi
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Dimanche
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-green-400 tex-xs  dark:bg-gray-800 ">
                    
                    <td class="py-4 px-6  ">
                        <span class="bg-gray-100">
                        matier:java
                        14h AM-15hAM
                        Salle N:A4</span>
                    </td>
                    <td class="py-4 px-6 ">
                        <span class="bg-gray-100">
                        matier:java
                        14h AM-15hAM
                        Salle N:A4
                    </span>
                    </td>
                
                    <td class="py-4 px-6 ">
                        <span class="bg-gray-100">
                        matier:word
                        11h AM-13hAM
                        Salle N:A2
                    </span>
                    </td>
                    <td class="py-4 px-6 ">
                        <span class="bg-gray-100">
                        matier:langue
                        09h AM-12hAM
                        Salle N:A8
                    </span>
                    </td>
                    <td class="py-4 px-6 ">
                        <span class="bg-gray-100">
                        N'est pas
                         Programme
                        </span>
                    </td>
                    <td class="py-4 px-6 ">
                        <span class="bg-gray-100">
                       N'est pas
                        programme
                        </span>
                    </td>
                </tr>
                <tr class=" dark:bg-gray-800">
                    <td class="py-4 px-6">
                        <span class=" bg-gray-100">
                        N'est pas 
                        Programme
                    </span>
                    </td>
                    <td class="py-4 px-6">
                        <span class=" bg-gray-100">
                        N'est pas 
                        Programme
                    </span>
                    </td>
                   
                </tr>
               
            </tbody>
        </table>
    </div>
    
    </div>
    
