<div class="cadre ">
  <div class="image ">
    <img src="assets/profil.png">
  </div>
  <div class="flex mar text-center">
    <p class=" text-center content-value grid grid-cols-1 divide-y">{{data.nom}}&nbsp;&nbsp;{{data.prenom}}</p>
  </div>
  <div class="spacer content-value grid grid-cols-1 divide-y">
    <div class="flex " ><p>N:d'inscription</p>  <p class="t text-cyan-300">{{data.numeroDinscripion}}<br><br></p></div>
    <div class="flex"><p>Cin/passport</p>    <p class="t1 text-cyan-300">{{data.cni}}<br><br></p></div>
    <div class="flex"><p>Cl</p>           <p class="t2 text-cyan-300"> 1er Anné IRM <br><br></p></div>
    <div class="flex"><p>Section</p>    <p class="t3 text-cyan-300">1er Sem IRM <br><br></p></div>
    <div class="flex"><p>Boursier</p>    <p class="t3 text-cyan-300">{{data.boursier}}<br><br></p></div>
  </div>
</div>
