<div class="pb-6 overflow-hidden h-screen ">
    <div class="  shadow-md border-t-4 border-gray-100">
        <h3 class="text-xl pt-4 ml-2 text-gray-600">Programme statut</h3>
    </div>
    <div class="shadow-md">
        <table class="  w-full text-sm text-left text-gray-500 dark:text-gray-400 md:flex-wrap">
            <thead class=" mb-4  text-xs text-gray-900 uppercase dark:text-gray-400  flex  ">
                <tr class="text-center ml-12  ">
                    <th scope="col" class="py-4 px-5">
                        DEV
                    </th>
                    <th scope="col" class="py-4 px-5 ">
                        Language C(c12021)
                    </th>
                    <th scope="col" class="py-4 px-5">
                        Management()
                    </th>
                    <th scope="col" class="py-4 px-5">
                        Architecture des ordinateurs
                               (A02021)
                    </th>
                    <th scope="col" class="py-4 px-5">
                        Systeme d'exploitation()
                    </th>
                    <th scope="col" class="py-4 px-5">
                        Maths()
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-green-400 tex-xs  dark:bg-gray-800 flex    ">
                    
                    <td class="py-4 px-6 flex flex-row  items-center justify-center flex-wrap"> 
                        
                        <div style="border: 20px  solid rgb(154, 151, 151)" class="h-32 w-32 rounded-full  border-gray-200 divide-y-2 divide-white">
                            
                        </div>
                        <div class="  bg-black text-white flex items-center justify-center mt-4 px-2">
                            Acheveve 0%
                        </div>
                    </td>
                    
                    <td class="py-4 px-6 flex  items-center justify-center flex-wrap"> 
                        <div style="border: 20px  solid  rgb(154, 151, 151)" class="h-32 w-32 rounded-full  border-gray-200">
                            
                        </div>
                        <div class="  bg-black text-white flex items-center justify-center mt-4 px-2 ">
                            Acheveve 0%
                        </div>
                    </td>
                
                    <td class="py-4 px-6 flex  items-center justify-center flex-wrap"> 
                        <div style="border: 20px  solid  rgb(154, 151, 151)" class="h-32 w-32 rounded-full  border-gray-200">
                            
                        </div>
                        <div class="  bg-black text-white flex items-center justify-center mt-4 px-2 ">
                            Acheveve 0%
                        </div>
                    </td>
                    <td class="py-4 px-6 flex  items-center justify-center flex-wrap"> 
                        <div style="border: 20px  solid  rgb(154, 151, 151)" class="h-32 w-32 rounded-full  border-gray-200">
                            
                        </div>
                        <div class="  bg-black text-white flex items-center justify-center mt-4 px-2 ">
                            Acheveve 0%
                        </div>
                    </td>
                    <td class="py-4 px-6 flex  items-center justify-center flex-wrap"> 
                        <div style="border: 20px   solid rgb(154, 151, 151)" class="h-32 w-32 rounded-full  border-gray-200">
                            
                        </div>
                        <div  class="  bg-black text-white flex items-center justify-center mt-4 px-2">
                            Acheveve 0%
                        </div>
                    </td>
                    <td class="py-4 px-6 flex  items-center justify-center flex-wrap"> 
                        <div style="border: 20px   solid rgb(154, 151, 151)" class="h-32 w-32 rounded-full  border-gray-200">
                            
                        </div>
                        <div class="  bg-black text-white flex items-center justify-center mt-4 px-2 ">
                            Acheveve 0%
                        </div>
                    </td>
                    
                </tr>
                <!-- <tr class=" text-green-400 tex-xs  dark:bg-gray-800 flex">
                    <td class="py-4 px-6 flex flex-row  items-center justify-center flex-wrap"> 
                        <div class="h-32 w-32 rounded-full border-8 border-gray-200">
                            
                        </div>
                        <div>
                            Acheveve 0%
                        </div>
                    </td>
                    <td class="py-4 px-6 flex  items-center justify-center flex-row flex-wrap"> 
                        <div class="h-32 w-32 rounded-full border-8 border-gray-200">
                            
                        </div>
                        <div>
                            Acheveve 0%
                        </div>
                    </td>
                   
                </tr> -->
               
            </tbody>
        </table>
    </div>

    <div>
        <div class="shadow-md h-8">
        <h5 class="ml-2">Matiere-lecons-Sujet Statut</h5>
    </div>
    <div>
        <h5 class="ml-2">Dev</h5>
    </div>
    <div class="ml-4">
        <h3 class="ml-2 text-bold">2 Architecture du site internet</h3>
        <div class="ml-5 text-gray-400">
            <h6 class="pt-2" >1-1 1-la creation du sujet internet</h6>
            <h6 class="pt-2" >1-1 1-la creation du sujet internet</h6>
            <h6 class="pt-2" >1-1 1-la creation du sujet internet</h6>

        </div>

    </div>
    <div class="ml-4">
        <h3 class="ml-2 text-bold">3 II-Gestion et mise a jour du site par le client</h3>
        <div class="ml-5 text-gray-400">
            <h6 class="pt-2" >1-1 1-la Creation du Sujet internet</h6>
            <h6 class="pt-2" >1-1 1-la creation du sujet internet</h6>
            <h6 class="pt-2" >1-1 1-la creation du sujet internet</h6>

        </div>

    </div>
    <div class="ml-4">
        <h3 class="ml-2 text-bold">1 I-Introduction au developpement Web</h3>
        <div class="ml-5 text-gray-400">
            <h6 class="pt-2" >1-1 1-la creation du sujet internet</h6>
            <h6 class="pt-2" >1-1 1-la creation du sujet internet</h6>
            <h6 class="pt-2" >1-1 1-la creation du sujet internet</h6>

        </div>

    </div>
    </div>
</div>

