<div class="bg-supblue h-10 w-full text-white flex  items-center  justify-center px-6	  "> 
    <div class=" flex flex-1  justify-center items-center  ">
    <span class="material-icons-outlined pr-2"> mail_outline</span>    
    <span class="pr-6">y.bentahar@supemir.com</span>
    
    <span class="material-icons-outlined pr-2">perm_phone_msg</span>
    <span >00212522473481</span>
  </div>
  <span class="material-icons-outlined   w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" > person_outline</span>
  <button [routerLink]="['/login']" class="border-0 border-white p-1 hover:text-gray-500">Se Connecter</button>
  
  

</div>



